body {
    font-family: "Montserrat", sans-serif;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 10px auto;
}

main {
    background-color: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 80px;
}

.about {
    margin-bottom: 45px;
}

.about-position {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 30px;
}

.about-name {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    color: #000000;
    margin-bottom: 25px;
}

.about-info {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #595959;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 10px;
}

.projects {
    margin-bottom: 55px;
}

.projects-list {
    padding: 0;
    margin-left: 20px;
}

.project-item {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.project,
.project-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
}

.project-link {
    margin-left: 15px;
}

a.project-link:visited {
    color: #080705;
}

a.project-link:hover {
    color: #912F40;
}

.project-bracket {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
}

.work {
    margin-bottom: 55px;
}

.work-first {
    margin-bottom: 45px;
}

.work-position {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 10px;
}

.work-type {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #702632;
}

.period {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #40434E;
    margin-top: 0;
    margin-bottom: 5px;
}

.work-list {
    padding: 0;
    margin-left: 20px;
}

.work-list-item {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
}

.education {

}

.education-place {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #702632;
    margin-bottom: 10px;
}

.education-speciality {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 15px;
}

aside {
    background-color: #912F40;
    min-width: 370px;
    padding-top: 15px;
}

.photo {
    width: 310px;
    display: block;
    margin: auto;
    margin-bottom: 50px;
}

.contacts,
.tech-skills,
.soft-skills,
.languages {
    margin-left: 45px;
    margin-bottom: 40px;
}

.sidebar-title {
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.sidebar-text {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    color: #FFFFFF;
}

.contact-info {
    margin: 0;
}

.contact-link {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFA;
    opacity: 0.5;
    margin-left: 5px;
}

a.contact-link:hover {
    color: #080705;
}

.skills-list {
    padding: 0;
    margin: 0 30px;
    /*margin-left: 30px;*/
}

.sidebar-item {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    color: #40434E;
}

.sidebar-text {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    color: #FFFFFF;
    margin: 0;
}