body {
    font-family: "Montserrat", sans-serif;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}

main {
    background-color: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 80px;
}

.about {
    margin-bottom: 45px;
}

.about-position {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 30px;
}

.about-name {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    color: #000000;
    margin-bottom: 25px;
}

.about-info {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #595959;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 10px;
}

.projects {

}

.projects-list {
    padding: 0;
    margin-left: 20px;
}

.project-item {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.project,
.project-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
}

.project-link {
    margin-left: 15px;
}

a.project-link:visited {
    color: #080705;
}

a.project-link:hover {
    color: #912F40;
}

.project-bracket {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
}